// Colors
$medium-gray: #ccc !default;
$light-gray: lighten($medium-gray, 10%) !default;
$primary-text-color: #333 !default;
$selected-text-color: #000 !default;
$disabled-text-color: #999 !default;
$disabled-bg-color: #eee !default;
