$metro-blue-text: #2e92cf;
$metro-blue-bg: #1ba1e2;
$metro-green: #a0e857;

$cell-color: $metro-blue-text;

$title-font-size: 0.9em;
$title-bar-bg-color: $metro-blue-bg;
$title-bar-text-color: #fff;
$title-bar-x-padding: 5px;

$today-cell-bg-color: $metro-green;
$today-cell-color: $primary-text-color;
$today-cell-font-weight: normal;

$selected-cell-inner-border-color: $metro-blue-text;
$selected-cell-color: $metro-blue-text;;
