<!DOCTYPE html>
<html data-ng-app='DemoApp'>
  <head>
    <title>Demo</title>
  </head>
  <body>
    <div id='container' data-ng-controller='DemoCtrl'>
      <link rel="stylesheet" type="text/css" href="dist/qdate-{{theme}}.css" media="all" />
      <p class='theme-form'>
        <label style='font-weight: bold; font-family:arial;' for='theme'>Theme</label>
        <br>
        <select name='theme' ng-model='theme'>
          <option value='minimal'>Minimal</option>
          <option value='metro'>Metro</option>
        </select>
      </p>
      <div data-q-calendar data-ng-model='selectedDate'></div>
      <br>
      <p>
        <strong>Date Selected:</strong> {{selectedDate | date:'medium'}}
      </p>
      <p>
        <button ng-click='setToToday()'>Set to Today</button>
        <button ng-click='clear()'>Clear</button>
      </p>
    </div>
    <script type="text/javascript" src="vendor/bower/angular/angular.js"></script>
    <script type="text/javascript" src="dist/qdate.js"></script>
    <script type='text/javascript'>
      var app = angular.module("DemoApp", ["q-date"]);
      app.controller("DemoCtrl", function($scope) {
        $scope.theme = 'metro'
        $scope.selectedDate = new Date(2014, 5, 15, 17, 30);
        $scope.setToToday = function() {
          $scope.selectedDate = new Date();
        }
        $scope.clear = function() {
          $scope.selectedDate = null;
        }
      });
    </script>
  </body>
</html>
