<!DOCTYPE html>
<html data-ng-app='DemoApp'>
  <head>
    <title>Demo</title>
  </head>
  <body>
    <div id='container' data-ng-controller='DemoCtrl'>
      <link rel="stylesheet" type="text/css" ng-href="dist/qdate-{{theme}}.css" media="all" />
      <p class='theme-form'>
        <label style='font-weight: bold; font-family:arial;' for='theme'>Theme</label>
        <br>
        <select name='theme' ng-model='theme'>
          <option value='basic'>Basic</option>
          <option value='bootstrap'>Bootstrap</option>
          <option value='metro'>Metro</option>
        </select>
      </p>
      <div data-q-calendar data-ng-model='selectedDate'></div>
      <br>
      <br>
      <br>
      <div data-q-timepicker data-ng-model='selectedDate'></div>
      <p>
        <strong>Date Selected:</strong> {{selectedDate | date:'medium'}}
      </p>
      <p>
        <button ng-click='setToToday()'>Set to Today</button>
        <button ng-click='clear()'>Clear</button>
        <button ng-click='addMinutes(60)'>Add 1 hour</button>
        <button ng-click='addMinutes(5)'>Add 5 minutes</button>
        <button ng-click='setMinutesTo(10)'>Set to 10 after</button>
      </p>
    </div>
    <script type="text/javascript" src="vendor/bower/jquery/jquery.js"></script>
    <script type="text/javascript" src="vendor/bower/angular/angular.js"></script>
    <script type="text/javascript" src="vendor/bower/moment/moment.js"></script>
    <script type="text/javascript" src="dist/qdate.js"></script>
    <script type='text/javascript'>
      var app = angular.module("DemoApp", ["q-date"]);
      app.controller("DemoCtrl", function($scope) {
        $scope.theme = 'basic'
        $scope.selectedDate = new Date(2014, 5, 15, 17, 30);
        $scope.noWeekends = function(d) {
          return ((d.getDay() > 0) && (d.getDay() < 6));
        };
        $scope.setToToday = function() {
          $scope.selectedDate = new Date();
        }
        $scope.clear = function() {
          $scope.selectedDate = null;
        };
        $scope.addMinutes = function(minutes) {
          if ($scope.selectedDate) {
            $scope.selectedDate = moment($scope.selectedDate).add('minutes', minutes).toDate()
          }
        };
        $scope.setMinutesTo = function(min) {
          if ($scope.selectedDate) {
            $scope.selectedDate = new Date($scope.selectedDate.setMinutes(min))
          }
        };
      });
    </script>
  </body>
</html>
