<!DOCTYPE html>
<html data-ng-app='DemoApp'>
  <head>
    <title>Demo</title>
  </head>
  <body>
    <div id='container' data-ng-controller='DemoCtrl'>
      <link rel="stylesheet" type="text/css" ng-href="dist/qdate-{{theme}}.css" media="all" />
      <link rel="stylesheet" href="demo.css" type="text/css" />
      <div class='theme-form'>
        <label style='font-weight: bold; font-family:arial;' for='theme'>Theme:</label>
        <select name='theme' ng-model='theme'>
          <option value='basic'>Basic</option>
          <option value='bootstrap'>Bootstrap</option>
          <option value='metro'>Metro</option>
        </select>
      </div>
      <h2>qDate Examples:</h2>
      <div class='example'>
        <h3>Inline Calendar</h3>
        <div data-q-calendar data-ng-model='date1'></div>
        <br>
        <br>
        <br>
        <p>
        <strong>Date Selected: </strong><span ng-bind="date1 | date:'mediumDate'"></span>
        </p>
      </div>
      <div class='example'>
        <h3>Inline Time Picker</h3>
        <div data-q-timepicker data-ng-model='date1'></div>
        <br/>
        <strong>Time: </strong><span ng-bind="date1 | date:'h:mm a'"></span>
        <pre><code>&lt;div data-q-timepicker data-ng-model=&#039;date1&#039;&gt;&lt;/div&gt;</code></pre>
      </div>
      <div class='example'>
        <h3>Datepicker Popup on an Input</h3>
        <p>
          <input type='text' ng-model='date2' q-date-picker date-parser='shortDate'/>
        </p>
      </div>
      <div class='example'>
        <h4>Datepicker Popup on a button</h4>
        <p>
          <button ng-model='date3' q-date-picker ng-bind='date3 | date:shortDate'></button>
        </p>
      </div>
      <div class='example'>
        <h4>Datepicker Popup on a div styled as a button</h4>
        <p>
          <div class='button' ng-model='date4' q-date-picker ng-bind='date4 | date:shortDate'></div>
        </p>
      </div>
      <div class='example'>
        <h3>Date/Time Picker Popup on an Input</h3>
        <p>
          <input type='text' ng-model='date5' q-date-time-picker date-parser='short'/>
        </p>
      </div>
    </div>
    <!-- <script type="text/javascript" src="vendor/bower/jquery/jquery.js"></script> -->
    <script type="text/javascript" src="vendor/bower/angular/angular.js"></script>
    <script type="text/javascript" src="vendor/bower/moment/moment.js"></script>
    <script type="text/javascript" src="vendor/bower/angular-dateparser/dist/angular-dateparser.js"></script>
    <script type="text/javascript" src="vendor/bower/angular-dateparser/dateparser.directive.js"></script>
    <script type="text/javascript" src="dist/qdate.js"></script>
    <script type='text/javascript'>
      var app = angular.module("DemoApp", ["q-date", "dateParserDirective"]);
      app.controller("DemoCtrl", function($scope) {
        $scope.theme = 'basic'
        $scope.date1 = new Date(2014, 5, 15, 17, 31);
        $scope.date2 = new Date(2014, 6, 17);
        $scope.date3 = new Date(2014, 8, 30);
        $scope.date4 = new Date();
        $scope.date5 = new Date();
        $scope.noWeekends = function(d) {
          return ((d.getDay() > 0) && (d.getDay() < 6));
        };
        $scope.setToToday = function() {
          $scope.selectedDate = new Date();
        }
        $scope.clear = function() {
          $scope.selectedDate = null;
        };
        $scope.addMinutes = function(minutes) {
          if ($scope.selectedDate) {
            $scope.selectedDate = moment($scope.selectedDate).add('minutes', minutes).toDate()
          }
        };
        $scope.setMinutesTo = function(min) {
          if ($scope.selectedDate) {
            $scope.selectedDate = new Date($scope.selectedDate.setMinutes(min))
          }
        };
      });
    </script>
  </body>
</html>
