// Fonts
$font-family: Arial, sans-serif !default;
$font-size: inherit !default;

// Border Colors
$light-border-color: $light-gray !default;
$medium-border-color: $medium-gray !default;

// Calendar Title
$title-font-size: 1.1em !default;
$title-bar-bg-color: #fff !default;
$title-bar-text-color: $primary-text-color !default;
$title-bar-y-padding: 5px !default;
$title-bar-x-padding: 0 !default;
$arrow-font-size: 1.1em !default;
$arrow-distance-apart: 15px !default;

// Calendar wrapper
$calendar-border: none !default;

// Header Row (days of the week)
$header-row-color: $primary-text-color !default;
$header-row-bg-color: #fff !default;
$header-row-font-weight: bold !default;

// Basic Date Cells
$cell-color: $primary-text-color !default;
$cell-bg-color: #fff !default;
$cell-padding: 5px !default;
$cell-border-color: $light-border-color !default;

// Selected Date Cell
$selected-cell-color: $selected-text-color !default;
$selected-cell-bg-color: $cell-bg-color !default;
$selected-cell-font-weight: normal !default;
$selected-cell-inner-border-color: $primary-text-color !default;

// Date Cell for next/prev month
$other-month-cell-color: $disabled-text-color !default;
$other-month-cell-bg-color: $disabled-bg-color !default;
$other-month-cell-font-weight: normal !default;

// Today date cell
$today-cell-color: $cell-color !default;
$today-cell-bg-color: $cell-bg-color !default;
$today-cell-font-weight: bold !default;
